* {
    margin: 0; 
    padding: 0;
}


.grid-wrapper {
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-columns: 300px 3fr 1fr; */
    grid-template-columns:minmax(100px, 300px) minmax(400px, 3fr) minmax(200px, 1fr);
    /* grid-template: 150px 1fr 150px; */
    /* grid-template-rows: 100px,1fr 50px; */
    grid-gap: 1rem;
    grid-template-areas:
            'header header header'
            'lsidebar content rsidebar'
            'footer footer footer';
    /* min-height: 100vh; */
    /* justify-items: center; */
    /* align-items: center; */
    /* place-items: center; */
    k';5
}

.grid-wrapper > div {
    background-color: gray; 
    padding: 1rem;
    
}


.one {
    grid-area: header;
    block-size: 125px;
}



.two {
    grid-area:  lsidebar;
  
    

}
.three {
    grid-area: content;
    /* justify-self: start;
    align-self: stretch; */
    block-size: 600px;

}


.four{ 
    grid-area: rsidebar;}

.five {grid-area: footer;
 }


/* .five { 
    grid-column: 1/4;

} */